.bodz {
  width: 50%;
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background: linear-gradient(rgb(87, 92, 119), rgb(41, 41, 41));
  color: silver;
  text-align: center;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid rgb(71, 71, 71);
  box-shadow: 5px 5px 15px rgb(71, 71, 71);
}

a {
  display: inline;
  text-align: none;
  color: silver;
  font-size: larger;
  text-decoration: none;
}

button {
  font-size: 15px;
  background: linear-gradient(grey, white, white);
  border: 1px solid #acacac;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1.4px rgb(68, 68, 68);
  transition: background 0.3s ease;
}

button:active {
  border: 1px solid #acacac;
  background: linear-gradient(white, grey);
  box-shadow: 0.5px 0.5px 1px 0.5px black;
}

button:hover {
  box-shadow: 0.5px 0.5px 1px 0.5px white;
}

.navbar {
  flex-direction: column;
  margin-right: 333px;
}

.nav-links {
  position: absolute;
  margin-top: 20px;
  margin-left: -50px;
}

.login-div {
  padding-bottom: 5px;
}

.the-logo {
  left: 155px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  /* margin-top: -5px; */
  pointer-events: none;
  object-fit: cover;
  z-index: 3;
}

.logout-button {
  position: absolute;
  margin-left: 410px;
  top: 25px;
  display: flex;
  align-items: center;
}
