nav {
  background-color: rgb(41, 41, 41);
  color: silver;
  padding: 20px;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(71, 71, 71);
  box-shadow: 5px 5px 15px rgb(71, 71, 71);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-right: 300px;
  display: flex;
  justify-content: space-between;
}

a {
  display: inline;
  text-align: none;
  color: silver;
  margin-right: 10px;
  font-size: larger;
  text-decoration: none;
}

button {
  font-size: 15px;
  background: linear-gradient(grey, white, white);
  border: 1px solid #acacac;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1.4px rgb(68, 68, 68);
  transition: background 0.3s ease;
}

button:active {
  border: 1px solid #acacac;
  background: linear-gradient(white, grey);
  box-shadow: 0.5px 0.5px 1px 0.5px black;
}

button:hover {
  box-shadow: 0.5px 0.5px 1px 0.5px white;
}

.the-media {
  padding-top: 60px;
}

.logout-button {
  padding-left: 500px;
}

.the-logo {
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  pointer-events: none;
  object-fit: cover;
}

.thelogo-container {
  display: flex;
}
