* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(41, 41, 41);
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: silver;
  background-image: url("images/silver-background.jpg");
}
